* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

html,
body,
#app {
  height: 100%;
}

body {
  background: #f6f6f6;
  font-family: 'Roboto', sans-serif;
}

ul {
  list-style: none;
}

button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;

  cursor: pointer;
}

.container {
  margin: 0px auto;
}

